# Requires Python 3.11+

# Megaton (GA4/GSC/BigQuery/Sheets)
megaton>=1.0.0

# Jupyter
jupyter
ipywidgets
jupytext

# Data processing and visualization
pandas
matplotlib
japanize-matplotlib
plotly

streamlit
streamlit-autorefresh
